form {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    width: 450px;

}
form label {
    color: pink;
    font-weight: bold;

}
form input{


    width: 100px;
    padding: 6px;
    margin: 8px;
border: 1px solid white;
border-radius: 15px;
}