.gallery {
      display: flex;
      flex-wrap: wrap;   /* allows images to wrap on next line */
      gap: 10px;         /* spacing between images */
    }
    .gallery img {
      width: 200px;
      height: 150px;
      object-fit: cover; /* crop nicely without stretching */
      border: 2px solid #ccc;
      border-radius: 8px;
      transition: transform 0.3s;
    }
    .gallery img:hover {
      transform: scale(1.1); /* zoom effect */
      border-color: #555;
    }
    #name {
      color: brown;
      padding: 20px;
      border-radius: 10px;
    }
    .text {
      color: 
    }